<body>
    <div class="container">
        <div class="hero">
            <div>
                <img src="../../assets/super-1.png" alt="img">
                <p>Spiderman</p>
                <h1>12</h1>
            </div>
            <div>
                <img src="../../assets/super-3.png" alt="img">
                <p>Wonder Woman</p>
                <h1>30</h1>
            </div>
        </div>
        <div class="score">
            <h1>5-0</h1>
        </div>
        <div class="villan">
            <div>
                <img src="../../assets/super-2.png" alt="img">
                <p>Captain America</p>
                <h1>23</h1>
            </div>
            <div>
                <img src="../../assets/super-4.png" alt="img">
                <p>Gem Woman</p>
                <h1>12</h1>
            </div>
        </div>

    </div>


</body>