<body>
    <div class="container">
        <div class="gallery">
            <figure class="box1">
                <img src="../../assets/Jeff.jpg" class="galleryimg" alt="Jeff">
            </figure>
            <figure class="box2">
                <img src="../../assets/Marissa.jpg" class="galleryimg" alt="Marissa">
            </figure>
            <figure class="box3">
                <img src="../../assets/Mark.jpg" class="galleryimg" alt="Mark">
            </figure>
            <figure class="box4">
                <img src="../../assets/satya.jpg" class="galleryimg" alt="Satya">
            </figure>
            <figure class="box5">
                <img src="../../assets/sundhar.jpg" class="galleryimg" alt="Sunder">
            </figure>
            <figure class="box6">
                <img src="../../assets/Tim.jpg" class="galleryimg" alt="Tim">
            </figure>
        </div>
    </div>
</body>
